/*
- Mobile: 375px
- Desktop: 1440px 
*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
    --darkcyan: hsl(185, 75%, 39%);
    --darkblue: hsl(229, 23%, 23%);
    --grayishblue: hsl(227, 10%, 46%);
    --darkgray: hsl(0, 0%, 59%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;

    background: url(./images/bg-pattern-top.svg) -70% 60% no-repeat, url(./images/bg-pattern-bottom.svg) 160% -30% no-repeat;
    background-size: 70%;
    display: flex;

    background-color: var(--darkcyan);
}

main {
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--darkblue);

    border-radius: 10px;
}

main header {
    border-radius: 10px;
    overflow: hidden;
}

main header > img {
    width: 100%;
}

main img.picture {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;

    border: 5px solid white;
}

main .text {
    text-align: center;

    margin-top: 60px;
    margin-bottom: 10px;

    padding: 20px;
}

main h1 {
    font-size: 1.2em;
    font-weight: 700;
}

main strong {
    color: var(--darkgray);
    font-weight: 400;
}

main .stats {
    text-align: center;
    padding: 20px;
}

main .stats > .followers, .likes, .photos {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

main p {
    color: var(--darkgray);
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
}