/*
- Mobile: 375px
- Desktop: 1440px
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: rgb(42, 178, 175);
    --brightYellow: rgb(192, 223, 52);
    --lightGray: rgb(229, 239, 245);
    --grayBlue: rgb(152, 166, 189);
    --lightCyan: rgb(75, 190, 188);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 400 16px 'Karla', sans-serif;
    background-color: var(--lightGray);
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
}

main #topbox {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 40px;
}

main #topbox h1 {
    color: var(--cyan);
    margin-bottom: 15px;
}

main #topbox h2 {
    color: var(--brightYellow);
    margin-bottom: 20px;
    font-size: 18px;
}

main #topbox p {
    color: var(--grayBlue);
    margin-bottom: 5px;
}

main #bottombox {
    display: flex;
    flex-direction: row;
    color: white;
}

main #bottombox #sub {
    background-color: var(--cyan);
    padding: 40px;
    border-radius: 0px 0px 0px 10px;
    width: 50%;
}

main #bottombox h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

main #bottombox p {
    font-size: 12px;
    font-weight: 400;
}

main #bottombox #price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

main #bottombox #price div {
    font-size: 32px;
    font-weight: 700;
    margin-right: 10px;
}

main #bottombox #price p {
    color: var(--lightGray);
}

main #bottombox #sub > p {
    font-size: 16px;
    margin-bottom: 20px;
}

main #bottombox button {
    border: none;
    background-color: var(--brightYellow);
    width: 95%;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
}

main #bottombox #why {
    background-color: var(--lightCyan);
    padding: 40px;
    border-radius: 0px 0px 10px 0px;
    width: 50%;
}

main #bottombox #why p {
    width: 70%;
    line-height: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}